doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title node
        style.
            body {
                background: #ccc;
            }
            
    body
        each item in files
            li
                a(href='..' + dir + '/' + item.file) #{item.file} [#{item.icon}]